body {

	background-color: lightgrey; 
	height: 100%;
	width:100%;
	margin: 0;
}


.list{

	text-align: center;
	margin-left: 120px;
}

ul{

	list-style: none;


}

ul li {

	display: inline-block;
	text-align: center;
}


form{

	margin: auto;
	text-align: center;	
	width: 300px;
	


}

/*label {

	float: left;
	padding-bottom: 6px;
	font-style: 14px;
	display: block;
}*/

input {

	width: 320px;
	height: 24px;
	padding-left: 8px;
	padding-right: 6px;
}

button{
	background-color: #0077c5;
	box-sizing: border-box;
	border-color: #0077c5;
	color: white;
	width: 100%;
	height:44px;
	margin-top: 30px;
	margin-bottom: 30px; 
}


.nav .fa-lock{

	height: 1em;
	width: 1em !important; 
	margin-right: 4px;


}

.fa-lock{

	height: 1em;
	width: 3em;
	margin-right: 2px;
	margin-top: 2px;
}

.nav {

	text-align: right;
	box-sizing: border-box;
	font-size: 12px;
}

.nav p {

	margin-right: 120px;
	margin-bottom: 10px;
	text-align: right;
} 

.nav button{

	background-color: #0077c5;
	color: white;
	float: right;
	border: 1px solid #4c4c4c;
	border-radius: 4px;
	padding: 0 20px;
	height: 34px;
	margin-top: -50px;
	width: 110px;
}

.label{
	text-align: left;
}

a {
	text-decoration:none;
}

.reCAPTCHA{

	margin-top: 20px;
	text-align: center;
	font-size:10px;


}